:root{
    --graphite-bg:#303030;
    --hard-graphite-bg:#2d2d2d;
    --timber:#7c6757fa;
    --hard-timber:#574a41;
    --moca: #AB947E;
    --khaki: #a17e65b1;
    --lite-graphite-bg:#505050;
    --super-lite-graphite-bg:#666666dc;
    --white-stone:#cdcdcd;
    --br: 15px;
    --h1-size: 2.8rem;
    --h1-logo: 1.5rem;
    --valid: #74a95f;
    --invalid: #a32f3e;
}


body{
    box-sizing: border-box;
    max-width: 99vw;
    min-height: 100vh;
    background-color: var(--graphite-bg);
    color: var(--white-stone);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top{
    display: flex;
    flex-direction: column;
}

header{
    width: 99vw;
    background-color: var(--hard-graphite-bg);
}

.logo{
    display: flex;
    justify-content: center;
}


.logo{
    display: flex;
    align-items: center;
}

.img-logo{
    width: 2.7rem;
    height: auto;
    margin: 5px;
}

.logo-heading{
    color: white;
    font-size: var(--h1-logo);
}

.hero{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.hero>p{
    color: var(--timber);
    font-size: 1.3rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    letter-spacing: 3px;
}

span.mark{
    color: var(--moca);
    font-weight: 900;
}

h1.hero-h1{
    color: var(--moca);
    font-size: var(--h1-size);
    text-shadow: 2px 1px var(--timber);
    letter-spacing: 3px;
}

main{
    min-width: 15rem;
    min-height: 50vh;
    max-height: 90vh;
    background: url(wood-bg.jpg) no-repeat center center;
    background-size: cover;
    border: 2.5px solid var(--hard-timber);
    border-radius: var(--br);
}


form{
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    flex: 0;
    align-items: center;
    padding: 2rem 0;
    background-color: rgba(46, 46, 46, 0.389);
    border-radius: var(--br);
}

form section{
    margin-top: 2%;
}

 article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header{
    font-size: 2.5rem;
    color: var(--moca);
    text-shadow: 2px 1px var(--timber);
    margin-bottom: 0.6rem;
}

.form-p{
    font-size: 1.6rem;
}

.info{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}


span.mark{
    color: var(--moca);
}

input{
    background-color: var(--graphite-bg);
    border-radius: 5px;
    margin-top: 1.4rem;
    padding-left: 8px;
    border: 1px solid var(--lite-graphite-bg);
    box-shadow: 1px 2px var(--lite-graphite-bg);
    height: 3.5rem;
    min-width: 21rem;
    max-width: 80vw;
    color: var(--white-stone);
    font-size: 1.5rem;
}

.placeholder{
    position: relative;
}

label.upper{
    position: absolute;
    display: inline;
    right: 77.5%;
    font-size: .9rem;
    bottom: 51%;
    color: var(--khaki);
    font-weight: 460;
    transition: 350ms ease;
    opacity: 1;
}

label.email-label{
    right: 85%;
}

label.confirm-passwd-label{
    right: 61%;
}

input:focus{
    outline-color: var(--super-lite-graphite-bg);    
}

input:placeholder-shown + label{
    opacity: 0;
}

input:invalid{
    border: 2px dashed var(--invalid);
    border-left: none;
    box-shadow: inset 4.2px 0 var(--invalid);
}

input:valid{
    border: 2px solid var(--valid);
    box-shadow: inset 4.2px 0 var(--valid);
}

input:placeholder-shown{
    border: 1.5px solid var(--lite-graphite-bg);
    box-shadow: 1px 2px var(--lite-graphite-bg);
}

/*  -----------  */

.newsletter-container{
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

label.news-label{
    position: relative;
    left:0.5rem;
    top:0.5rem;
    color: var(--moca);
    text-shadow: 2px 3px 5px var(--graphite-bg);
    cursor: pointer;
}

.newsletter-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0.4rem;
    height: 25px;
    width: 25px;
    background-color: var(--hard-graphite-bg);
    border: 2px solid var(--lite-graphite-bg);
    box-shadow: 1px 2px var(--lite-graphite-bg);
    transition: 350ms;
  }
  
input#newsletter:hover ~ .checkmark{
    background-color: var(--hard-timber);
}

input#newsletter:checked ~ .checkmark{
    background-color: var(--hard-timber);
    border-color: var(--graphite-bg);
    box-shadow: 2px 2px var(--hard-graphite-bg);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input#newsletter:checked ~ .checkmark::after{
    display: block;
}
.newsletter-container .checkmark::after{
    left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sign-up-btn{
    cursor: pointer;
    height: 4rem;
    width: 8rem;
    color: var(--white-stone);
    background-color: var(--hard-timber);
    border: 2px solid var(--hard-graphite-bg);
    border-radius: 8px;
    box-shadow: 3px 6px var(--hard-graphite-bg);
    font-size: 1.2rem;
    transition: 150ms;
}

.sign-up-btn:hover{
    transform: rotate(-0deg);
    background-color: var(--moca);
    filter: brightness(0.9);
}

.sign-up-btn:hover::after{
    transition: 350ms;
    content: " >>";
    position: relative;
    opacity: 0.5;
}

.sign-up-btn:active{
    transform:translateX(10rem);
    opacity: 0;
}


